body{
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: white;
}
button {
  margin: 10px;
  background-color: blueviolet;
  padding: 12px 30px;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
}
.cabecera {
  height: 80px;
}
header {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.portada {
  background-image: url("https://tech101.io/static/hero-cover-444e42e661c85954ce67511423a5d702.png");
  padding: 0px 0px 0px 90px;
  background-size: cover;
  height: 60vh;
  color: white;
}
.menu ul {
  background-color: black;
  text-decoration: none;
  display: block;
  font-size: 15px;
  margin: 0%;
  padding: 0%;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  padding: 0px;
  margin: 0px;
  font-size: 80px;
}

p {
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  padding: 10px 0px 50px 0px;
  font-size: 35px;
}

.registro {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}
